@import "tailwindcss";

:root {
  --background: #fdfdfd; /* Almost white */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Primary Scarlet Palette */
  --color-primary-scarlet-50: #fce8e8;
  --color-primary-scarlet-100: #fad1d1;
  --color-primary-scarlet-200: #f4a4a4;
  --color-primary-scarlet-300: #ef7676;
  --color-primary-scarlet-400: #ea4848;
  --color-primary-scarlet-500: #e41b1b;
  --color-primary-scarlet-600: #b71515;
  --color-primary-scarlet-700: #891010;
  --color-primary-scarlet-800: #5b0b0b;
  --color-primary-scarlet-900: #2e0505;
  --color-primary-scarlet-950: #200404;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
